main {
    max-width: 1500px;
    background-color: #dddddd;
    height: 680px;
}

.title {
    text-align: center;
    margin-bottom: 10px;
    padding-top: 10px;
}

.calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.pagination a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    cursor: pointer;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin: 5% auto;
    border-collapse: collapse;
}

table,
th,
td {
    border: none;
}

th,
td {
    border: 1px solid #bbbbbb;
    text-align: center;
    padding: 10px;
    background-color: #fff;
}

th {
    background-color: #f2f2f2;
}

.current-month {
    text-align: center;
    margin-bottom: 10px;
}


.other-month {
    color: #ccc;
}

.footer_title {
    text-align: center;
    margin-top: 170px;
}