.container {
    text-align: center;
}

.title {
    margin-bottom: 30px;
    padding-top: 10px;
}

.label {
    text-align: center;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin: 5% auto;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #bbbbbb;
    text-align: center;
    padding: 10px;
    background-color: #fff;
}

th {
    background-color: #f2f2f2;
}

td a{
    text-decoration: none;
    color: #000;
}
