.main {
    max-width: 1300px;
    margin: 50px auto;
}

.main__title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.main__table {
    width: 1000px;
    margin: 30px auto;
}

.item__th {
    width: 200px;
    border-bottom: 1px solid #aaaaaa;
    font-size: 18px;
    padding-bottom: 10px;
}

.main__td {
    width: 200px;
    border-bottom: 1px solid #aaaaaa;
    text-align: center;
    padding: 20px 0;
}